.login-header{
    margin-bottom: 20px;
}
.page_text{
    font-family:Omneslight;
    font-size:40px;
    margin-left:15px;
    line-height: 1.1;
}
.align_boxing{
    margin-top:20px;
}
.submit_align
{
    margin-top:130px;
    margin-bottom:25px;
    position:relative;
    padding-left: 20px;

}